<style >
  .thumbnail {
    float: right;
    margin-right: auto;
    max-width: 147px ;
    max-height: 98px ;
  }
  .thumb{
    /* width: 20%; */
    float: right;
    flex: 1;
    max-width: 147px ;
    max-height: 98px ;
    /* margin-right: 20px; */
    margin-bottom: auto;
    align-items: center;
  }
  .post-title{
    width: 80%;
  }
  .post-content-preview{
    width: 70%;
  }

</style>

<div class="post-preview">
  
  <a href="{{ .RelPermalink }}">

      <h2 class="post-title">{{ .Title }}</h2>
      {{ with .Params.subtitle }}
      <h3 class="post-subtitle">{{ . }}</h3>
      {{ end }}
      {{ with .Params.thumbnails }}
      <div class="thumbnail">
        <img src="{{ . }}" alt="Thumbnail" />
      </div>
    {{ end }}
      <div class="post-content-preview">
        {{ if isset .Params "description" }} {{ index .Params "description" }}
        {{ else }}
        {{ .Summary | plainify | truncate 180 }}
        {{ end }} 
      </div>
  </a>
  <p class="post-meta">
    {{ .Date.Format "Mon, Jan 2, 2006" }}
  </p>
</div>

<hr>